<%- include("partials/header") %>

<div class="ui main text container">

    <h1>RESTful Blog App</h1>

    <% blogs.forEach(function(blog){ %>

    <div class="ui divided items segment">
        <div class="item">
            <div class="image">
                <img src="<%= blog.image %>" alt="blog_img">
            </div>
            <div class="content">
                <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                <div class="meta">
                <span class="cinema"><%= blog.created.toDateString() %></span>
                </div>
                <div class="description">
                <p><%- blog.body.substring(0,100) %>...</p>
                </div>
                <div class="extra">
                    <div>
                        <a href="/blogs/<%= blog._id %>" class="ui right floated primary basic button">Read more <i class="right chevron icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% }) %>
</div>

<%- include("partials/footer") %>